<div *ngIf="game" class="row">
  <div class="col-4">
    <img src="{{game.cover}}" alt="game-cover" />
  </div>
  <div class="col-8">
    <h3>{{game.title}}</h3>
    <p>Publisher: {{game.publisher}}</p>
    <p>Genre: {{game.genre}}</p>
    <p>Release Year: {{game.year}}</p>
    <p>Description: {{game.description}}</p>
    <h2>Price: {{game.price | currency}}</h2>
    <ng-template [ngIf]="isLogged">
      <button class="btn btn-success" (click)="buygame()" [disabled]="isBought">Buy game</button>
    </ng-template>
    <ng-template [ngIf]="isAdmin">
      <div id="admin-panel">
        <a class="btn btn-warning" routerLink="/games/edit/{{game.id}}">Edit game</a>
        <a class="btn btn-danger" routerLink="/games/delete/{{game.id}}">Delete game</a>
      </div>
    </ng-template>
    <ng-template [ngIf]="!isLogged">
      <button class="btn btn-primary float-right" (click)="login()">Login to Buy!</button>
    </ng-template>
  </div>
</div>
