<div *ngIf="game" class="row">
  <div class="col-md-4 col-sm-12">
    <img src="{{game.cover}}" alt="game-cover" />
  </div>
  <div class="col-md-8 col-sm-12">
    <h3>{{game.title}}</h3>
    <p>Publisher: {{game.publisher}}</p>
    <p>Genre: {{game.genre}}</p>
    <p>Release Year: {{game.year}}</p>
    <p>Description: {{game.description}}</p>
    <h2>Price: {{game.price | currency}}</h2>
    <div *ngIf="isLogged">
      <button class="btn btn-success float-right" [disabled]="isBought()" (click)="buy()">Buy game</button>
    </div>
    <div *ngIf="isAdmin">
        <a class="btn btn-warning" [routerLink]="['/games/edit', game._id]">Edit game</a>
        <a class="btn btn-danger ml-2" (click)="confirm()">Delete game</a>
      </div>
    </div>
    <div *ngIf="!isLogged" class="buy">
      <a class="btn btn-primary float-right" [routerLink]="['/signin']">Login to Buy!</a>
    </div>
  </div>
